<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Devicely | Trade used electronic devices</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <section class="devicelyapp">
      <nav class="nav">
        <ul>
          <li class="user">
            <form action="/settings" method="get">
              <button type="submit">
                <%= user.name || user.username || user.email %>
              </button>
            </form>
          </li>
          <li>
            <form action="/" method="get">
              <button class="" type="submit">Home</button>
            </form>
          </li>
          <li>
            <form action="/mydevices" method="get">
              <button class="" type="submit">My Devices</button>
            </form>
          </li>
          <li>
            <form action="/orders" method="get">
              <button type="submit">Orders</button>
            </form>
          </li>
          <li>
            <form action="/logout" method="post">
              <button class="logout" type="submit">Sign out</button>
            </form>
          </li>
        </ul>
      </nav>
    </section>
    <header class="header">
      <h1>My Devices</h1>
    </header>
    <section>
      <form action="/newdevice" method="get">
        <button class="btn success" type="submit">Add New Device</button>
      </form>
    </section>
    <hr />
    <section>
      <div class="devicesList">
        <% for (let i = 0; i < myDevices.length; i++){ %>
        <div class="devicesCard">
          <video width="200" height="200" controls name="media">
            <source src="<%=myDevices[i].videoPath %>" type="video/mp4" />
          </video>
          <h4 class="text-align-center"><%=myDevices[i].name %></h4>
          <div class="row">
            <form action="/editdevice" method="get">
              <input
                type="hidden"
                name="deviceId"
                value="<%=myDevices[i].id %>"
              />
              <button class="btn success" type="submit">EDIT</button>
            </form>
            <a class="btn links" href="<%=myDevices[i].pagePath%>">Link</a>
          </div>
          <hr />
        </div>
        <% } %>
      </div>
    </section>
    <footer class="info">
      <p>
        Created by
        <a href="https://github.com/StrawberryChocolateFudge"
          >StrawberryChocolateFudge</a
        >
      </p>
      <p>For the Sustainable Blockchain Hackathon</p>
    </footer>
  </body>
</html>
